# Игнорируем виртуальное окружение Python
venv/
__pycache__/
*.pyc
*.pyo
*.log

# Игнорируем файлы C++ (Qt)
*.o
*.exe
*.dll
build/
CMakeCache.txt
CMakeFiles/

# Игнорируем файлы React Native
node_modules/
*.log
android/
ios/

# Игнорируем файлы IDE
.vscode/
.idea/

# Игнорируем конфиги и переменные окружения
.env
